:root {
  --color-text: #0a0a0a;
  --color-blue: #0288d1;
  --color-light: #f9f9f9;
  --color-white: #ffffff;
  --color-gray-light: #e9e9e9;
  --color-gray: #afafaf;
  --color-error: #d32f2f;
  --color-error-light: #e57373;

  --header-height: 70px;
}

body {
  color: var(--color-text);
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 600;
}

.btn {
  border-radius: .2rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .3rem .5rem;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: .7;
  }

  &--blue {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  &--red {
    background-color: var(--color-error);
    color: var(--color-white);
  }
}
